/* GENERAL STYLES */



/* HEADING STYLES */
h1 {
  margin: 10px 15px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: rgb(34, 59, 68) 
}

/* HEADER STYLES */
.header {
  background-color: lightblue;
  padding: 1em;
  margin: 0 0 15px 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.header-nav {
  padding: 0;
  margin: 0;
  float: right;
  overflow: hidden;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
  padding: 0.15em 0.25em 0.2em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1.3em;
}
.header-nav a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header-nav a:hover {
  color: darkorange;  
}