/* GENERAL STYLES */

.content-container {
  display: flex;
  flex: 1 1 auto;
  padding-top: 5em; /* Means that nothing will be obscured by the header */
  width: 100%;
}

/* BODY STYLES */

/* PARAGRAPH STYLES */


/* HEADING STYLES */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(34, 59, 68);
  margin-bottom: 15px;
}

/* HEADER STYLES */
.header {
  background-color: lightblue;
  padding: 1em;
  margin: 0 0 15px 0;
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  width: 100%;
}
.header-nav {
  padding: 0.5em 1.5em 0 0;
  margin: 0 15px 0 0;
  float: right;
}
.header-nav > li {
  display: inline-block;
  padding: 0.15em 1.2em 0.2em; 
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.header-nav > li:last-of-type {
  padding: 0.15em 0.25em 0.2em 1.2em;
}
.header-nav a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header-nav a:hover {
  color: darkorange;  
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
  display: inline-block;
}

.drop-menu {
  background-color: lightblue;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 20px lightblue;
  display: none;
  padding: 15px 0 0 0;
  position: absolute;
  margin: 0 -16px; 
  min-width: 160px; 
  list-style: none;
}
.drop-menu a {
  color: rgb(56, 53, 53);
  font-size: 0.9em;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.drop-menu li:first-of-type {
  border-top: solid white 2px;
  margin-top: 5px;
}
.dropdown:hover .drop-menu {
  display: block;
}

.dropdown-final {
  position: relative;
  display: inline-block;
}
.drop-menu-final {
  background-color: lightblue;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 20px lightblue;
  display: none;
  padding: 15px 0 0 0;
  position: absolute;
  margin: 0 0 0 -79px; 
  min-width: 160px; 
  list-style: none;
}
.drop-menu-final a {
  color: rgb(56, 53, 53);
  font-size: 0.9em;
  padding: 8px 16px;
  text-align: right;
  text-decoration: none;
  display: block;
}
.drop-menu-final li:first-of-type {
  border-top: solid white 2px;
  margin-top: 5px;
}
.dropdown-final:hover .drop-menu-final {
  display: block;
}

/* FOOTER STYLES */
.footer {
  background-color: lightblue;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  width: 100%;
}
.inside-footer {
  padding: 1em;
}
.footer-nav {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}
.footer-nav li {
  display: inline-block;
  margin: 2em;
}
.footer-nav a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.footer-nav a:hover {
  color: darkorange;  
}
.footer-nav .dropdown:hover .drop-menu {
  display: none;
}
.footer-nav .dropdown-final:hover .drop-menu-final {
  display: none;
}
/* MOBILE MENU */

.mobile-menu-check,
.show-mobile-menu {
  display: none;
}


/* HOMEPAGE STYLES */
.homepage-intro {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.6;
  max-width: 960px;
  margin: auto;
  padding: 0 3em 0 3em; /* Stops text and image from touching edges of window on right and left */
}

.homepage-flex {
  display: flex;
  align-items: center;
}

/* COLUMN STYLES */
.column-left {
  flex: 2; /* Makes this column twice the size of one on the right */
  margin-bottom: 25px;
}
.column-right {
  flex: 1;
  margin-left: 5vh;
  display: flex; /* Makes the images inside this column centred */
  justify-content: center;

}

/* ICON STYLES HOW TO GET It to fill fixed-size container without specifying specific height/width for each or same dimensions for all? */
.tall-side-icon {
  height: 240px;
  width: 84px;
}
.landscape-side-icon {
  height: 120px;
  width: 179px;
}
.square-side-icon {
  height: 150px;
  width: 150px;
}
.footer-icon {
  height: 100px;
  width: 34px;
}
.header-icon {
  height: 34px;
  width: 34px;
}


/* ESSAY PAGES AND CONTENT TOGGLING */
.answer-page {
  align-items: center;
}
.answer-commentary {
  display: flex;
  /* So I can move the commentary to right column rather than below (only if flex-direction set to row). This is a div that acts as a cotainer for the complete answer and commentary class sections*/
  flex-direction: row;
}
.answer {
  flex: 2; /* Only for when commentary text is at the side (flex direction row rather than column), so commentary right colum half size of answer left */
  margin-bottom: 25px;
}
.answer-text {
  background-color: rgb(215, 227, 233);
  padding: 15px;
  border-radius: 15px;
  font-family: 'Indie Flower', cursive;
}
.commentary {
  flex: 1; /* Only for first example, so commentary right colum half size of answer left/ Only for first example */
  display: flex; /* So we can stack the content (label and commentary) vertically.*/ 
  flex-direction: column; /* Column stops the commentary and hte button being shown side by side. Changing to 'column-reverse' would make the button display below the commentary once it appears. */
  margin-bottom: 10px;
  margin-left: 20px;
}
.toggle-commentary {
  display: none; /* Hides the tick box for the input */
}
.commentary-label {
  /* Styles the button/label you click on to hide and reveal commentary */
  background-color: #D65D5D;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
  width: 12em;
}
.commentary-content {
  display: none;
  font-size: 0.9em;
  /* Makes it the default not to display the content */
}
.toggle-commentary:checked ~ .commentary-content {
  /* If the input/label is checked (clicked on) then display the content that was initially set to hidden */
  display: block;
}
.commentary-label .hide-commentary {
  /* So when unchecked (default) the text 'Hide Commentary' doesn't appear */
  display: none;
}
.toggle-commentary:checked + label .hide-commentary {
  /* So when checked the 'Hide commentary' text does appear */
  display: inline;
}
.toggle-commentary:checked + label .display-commentary {
  /* So when checked the 'Display commentary' text doesn't appear */
  display: none;
}



/* FOR PHONE ETC */
@media (max-width: 800px) {
  .homepage-flex {
    flex-direction: column-reverse; /* Makes view on phone change from two columns to row layout instead */
  }
  .column-left {
    margin-bottom: 25px; /* Because otherwise we get too big a space between the two columns */
  }
  .column-right {
    margin-left: 0px; /*Because this becomes a row so don't want it indented on phone*/
  }
  /* HEADER STYLES */
  .header {
    padding: 0;
  }
  /* ICON STYLES - Ideally want this to shrink responsively though*/ 
  .tall-side-icon {
    height: 129px;
    width: 45px;
  }
  .landscape-side-icon {
    height: 75px;
    width: 112px;
  }
  .square-side-icon {
    height: 100px;
    width: 100px;
  }
  .header-icon {
    display: none;
  }   /* don't display header icon in mobile view */
  .answer-commentary {
    display: inline-block;
  }
  /* MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    font-weight: bold;
    margin-top: 3vh;
    padding: 1.5vh;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }
  .header-nav {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    /* Removed transition from here and placed below to fix problem of old menu showing when you close it */
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 300px;
    float: none;  /* makes lis go from right to left, stops skewing to one side */
    width: 100%;  /* Moves the menu below the menu text rather than to the side */
    text-align: center; /* Centers text */
    transition: all 0.5s ease-in;  /* Creates a slow wipe down affect for when you open the menu */
  }
  .mobile-menu-check:checked ~ .header-nav > li {
    display: block;
    border-left: 0;
    padding: 1em 0;
    border-top: 1px dashed black;
  }
  /* OVERLAY NOT WORKING - So you can click off anywhere outside of the menu to remove it once it comes up*/
  /* .mobile-menu-close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 100;
  }
  .mobile-menu-check:checked ~ .mobile-menu-close {
    display: block;
  }  */
}