<head>
  <title>Test Page: Don't Panic</title>
  <!-- Titles and page descriptions with Liquid
    {% if page.title %}
      <title>{{ page.title }} | Test Page</title>
    {% else %}
      <title>Test Page: Don't Panic</title>
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="This is a dangerous site.">
    {% endif %} 
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">

  <!-- CSS LINKS, LIKE:
    <link href="/favicon.png" rel="icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Open+Sans&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.14.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">

-->     
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
</head>