<header class="header">
  <nav>
    <!-- <input type="checkbox" id="mobile-menu" class="mobile-menu-check">
    <label for="mobile-menu" class="show-mobile-menu"> -->
    <div class="mobile-menu show-mobile-menu"> 
      <div class="hamburger" onclick="hamburger(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <ul class="header-nav">
      {% include nav-links.html %}
    </ul>
  </nav>
  <a href="/index.html">
    <img src="/images/stone-circle.png" alt="Stone Circle" class="header-icon">
    <!-- From https://www.subpng.com/png-dmxd7u/download.html -->
  </a>
  <p class="header-title"><a href="#">British Music and Wagnerism</a></p>

</header>