<li><a href="/">Home</a></li>
<li class="dropdown">
  <a class="drop-trigger" href="#">UK</a>
  <ul class="drop-menu">
    <li>
      <a href="#">Essay Questions</a>
    </li>
    <li>
      <a href="#">Source Questions</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger" href="#">Ideas</a>
  <ul class="drop-menu">
    <li>
      <a href="#">Essay Questions</a>
    </li>
    <li>
      <a href="#">Source Questions</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger" href="#">US</a>
  <ul class="drop-menu">
    <li>
      <a href="#">Essay Questions</a>
    </li>
    <li>
      <a href="#">Source Questions</a>
    </li>
  </ul>
</li>
<li class="dropdown-final">
  <a class="drop-trigger" href="#">Global</a>
  <ul class="drop-menu-final">
    <li>
      <a href="#">Essay Questions</a>
    </li>
    <li>
      <a href="#">Source Questions</a>
    </li>
  </ul>
</li>