<li><a href="/">Home</a></li>
<!--  -->
<li class="dropdown">
  <a class="drop-trigger">Chapters</a>
  <ul class="drop-menu">
    <li>
      <a href="/chapters/contents">Contents</a>
    </li>
    <li>
      <a href="/chapters/introduction/index.html">Introduction</a>
    </li>
    <li>
      <a href="/chapters/chapter1">1. Parry</a>
    </li>
    <li>
      <a href="/chapters/chapter2">2. Elgar</a>
    </li>
    <li>
      <a href="/chapters/chapter3">3. Bantock and Wallace</a>
    </li>
    <li>
      <a href="/chapters/chapter4">4. Boughton</a>
    </li>
    <li>
      <a href="/chapters/chapter5">5. Holbrooke</a>
    </li>
    <li>
      <a href="/chapters/chapter6">6. Bax</a>
    </li>
    <li>
      <a href="/chapters/postlude">Postlude</a>
    </li>
    <li>
      <a href="/chapters/appendixI">Appendix I: Opera Plot Summaries</a>
    </li>
    <li>
      <a href="/chapters/bibliography">Bibliography</a>
    </li>
    <li>
      <a href="/uk-source-questions">Tabs test 1</a>
    </li>
    <li>
      <a href="/uk-essay-questions/">Tabs test 1</a>
    </li>
    <li>
      <a href="/us-essay-questions/v2.html/">Testing</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger">Themes</a>
  <ul class="drop-menu" id="themes-drop">
    <li>
      <a href="/themes-grid-format/">Overview</a>
    </li>
    <li>
      <a href="#">Celticism</a>
    </li>
    <li>
      <a href="#">Pre-Raphaelitism</a>
    </li>
    <li>
      <a href="#">Arthurianism</a>
    </li>
    <li>
      <a href="#">Mysticism</a>
    </li>
    <li>
      <a href="#">Medievalism</a>
    </li>
    <li>
      <a href="#">Water</a>
    </li>
    <li>
      <a href="#">Forest</a>
    </li>
    <li>
      <a href="#">Musical Wagnerism</a>
    </li>
    <li>
      <a href="#">Fusion of the Arts</a>
    </li>
    <li>
      <a href="#">Politics</a>
    </li>
    <li>
      <a href="#">Race</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger">Composers</a>
  <ul class="drop-menu">
    <li>
      <a href="#">Parry</a>
    </li>
    <li>
      <a href="#">Elgar</a>
    </li>
    <li>
      <a href="#">Smyth</a>
    </li>
    <li>
      <a href="#">Wallace</a>
    </li>
    <li>
      <a href="#">Bantock</a>
    </li>
    <li>
      <a href="#">Holbrooke</a>
    </li>
    <li>
      <a href="#">Boughton</a>
    </li>
    <li>
      <a href="#">Scott</a>
    </li>
    <li>
      <a href="#">Bax</a>
    </li>
    <li>
      <a href="#">Howell</a>
    </li>
    <li>
      <a href="/us-source-questions/">Source Questions</a>
    </li>
  </ul>
</li>
<li class="dropdown-final">
  <a class="drop-trigger">Space and Time</a>
  <ul class="drop-menu-final">
    <li>
      <a href="/us-essay-questions/">Map and Timeline</a>
    </li>
    <li>
      <a href="/global-essay-questions/">Essay Questions</a>
    </li>
    <li>
      <a href="#">Source Questions</a>
    </li>
  </ul>
</li>



