<li><a href="/">Home</a></li>
<li class="dropdown">
  <a class="drop-trigger" href="#">UK</a>
  <ul class="drop-menu">
    <li>
      <a href="/uk-essay-questions/">Flex 2-column with commentary</a>
    </li>
    <li>
      <a href="/uk-source-questions">Tabs with onclick function</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger" href="#">Themes</a>
  <ul class="drop-menu">
    <li>
      <a href="/themes-grid-format/">Grid Format</a>
    </li>
    <li>
      <a href="/introduction/">Introduction</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger" href="#">US</a>
  <ul class="drop-menu">
    <li>
      <a href="/us-essay-questions/">Tabs with JQuery</a>
    </li>
    <li>
      <a href="/us-source-questions/">Source Questions</a>
    </li>
  </ul>
</li>
<li class="dropdown-final">
  <a class="drop-trigger" href="#">Global</a>
  <ul class="drop-menu-final">
    <li>
      <a href="/global-essay-questions/">Essay Questions</a>
    </li>
    <li>
      <a href="#">Source Questions</a>
    </li>
  </ul>
</li>