<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="homepage-intro">
      <h1>UK Politics – Component 1</h1>
        <div class="homepage-flex">
          <p class="column-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales sagittis dolor, a suscipit felis finibus eget. Etiam convallis rhoncus enim quis rutrum. Mauris et bibendum risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis lorem leo, id accumsan orci tempor non. Aenean vel tincidunt ligula. Ut lobortis blandit augue ut tempus. Morbi justo odio, congue sed gravida dictum, vehicula vitae quam. Nunc convallis non urna a dictum. Quisque molestie dolor eu odio efficitur, vel malesuada quam dictum. Ut justo ligula, vestibulum id risus nec, mollis bibendum libero. Praesent ac tellus lorem. Etiam sodales nisl ac metus finibus molestie. Vivamus imperdiet, libero in vehicula posuere, purus eros tempor tortor, eget sollicitudin lectus sapien condimentum eros. Quisque felis velit, volutpat a consequat faucibus, posuere at risus. Sed et ipsum dictum ex sodales sollicitudin. 
          </p>
          <p class="column-right">  
            <a href="/">
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/World_landmarks_icons_-_Big_Ben.svg" alt="Big Ben" class="side-icon">
            </a>
          </p>
        </div>
        <div class="homepage-flex">
          <p class="column-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales sagittis dolor, a suscipit felis finibus eget. Etiam convallis rhoncus enim quis rutrum. Mauris et bibendum risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis lorem leo, id accumsan orci tempor non. Aenean vel tincidunt ligula. Ut lobortis blandit augue ut tempus. Morbi justo odio, congue sed gravida dictum, vehicula vitae quam. Nunc convallis non urna a dictum. Quisque molestie dolor eu odio efficitur, vel malesuada quam dictum. Ut justo ligula, vestibulum id risus nec, mollis bibendum libero. Praesent ac tellus lorem. Etiam sodales nisl ac metus finibus molestie. Vivamus imperdiet, libero in vehicula posuere, purus eros tempor tortor, eget sollicitudin lectus sapien condimentum eros. Quisque felis velit, volutpat a consequat faucibus, posuere at risus. Sed et ipsum dictum ex sodales sollicitudin. 
          </p>
          <p class="column-right">  
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales sagittis dolor, a suscipit felis finibus eget. Etiam convallis rhoncus enim quis rutrum. Mauris et bibendum  risus. 
          </p>
        </div>
        <div class="homepage-flex">
          <p class="column-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales sagittis dolor, a suscipit felis finibus eget. Etiam convallis rhoncus enim quis rutrum. Mauris et bibendum risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis lorem leo, id accumsan orci tempor non. Aenean vel tincidunt ligula. Ut lobortis blandit augue ut tempus. Morbi justo odio, congue sed gravida dictum, vehicula vitae quam. Nunc convallis non urna a dictum. Quisque molestie dolor eu odio efficitur, vel malesuada quam dictum. Ut justo ligula, vestibulum id risus nec, mollis bibendum libero. Praesent ac tellus lorem. Etiam sodales nisl ac metus finibus molestie. Vivamus imperdiet, libero in vehicula posuere, purus eros tempor tortor, eget sollicitudin lectus sapien condimentum eros. Quisque felis velit, volutpat a consequat faucibus, posuere at risus. Sed et ipsum dictum ex sodales sollicitudin. 
          </p>
          <p class="column-right">  
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales sagittis dolor, a suscipit felis finibus eget. Etiam convallis rhoncus enim quis rutrum. Mauris et bibendum  risus. 
          </p>
        </div>
    </div>
  </body>
</html>
  